202/*
hidden/*
handouts/*/solution/*
labs/*/solution/*
homework/*/sol*/*
homework/hw3/bridges/*
*.md
labs/*/*.md
fetch
*OLD*
labs/lab10/code_snippet/*
homework/hw5/milestone1-solution/*
homework/hw5/milestone1-solution.zip
homework/hw5/milestone2-solution/*
homework/hw5/milestone2-solution.zip
homework/hw5/milestone3-solution/*
homework/hw5/milestone3-solution.zip
homework/hw5/milestone4-solution/*
homework/hw5/milestone2-starting-code/*
quizzes/quiz4/quiz4-sol.docx
quizzes/quiz2/index.html
quizzes/quiz2/quiz2-sol.pdf
quizzes/quiz4/quiz4-sol.pdf
quizzes/quiz2/quiz2-sol.docx
quizzes/quiz4/quiz4-sol.pages
