body {
	font-size : 150% ;
	font-family : Tahoma, Geneva, sans-serif ;
}
table {
	font-size : 100% ;
}
.section {
	display : block ;
	text-align : center ;
	font-size : 125% ;
	background : DarkSalmon ;
	margin-top : 20px ;
}
.subsection {
	display : block ;
	font-weight : bold ;
	margin-top : 10px ;
}
